#total_pozos_ilegales,
#total_extracciones_ilegales {
    background-color: #2ab20b;
    font: 700 14px Rubik, sans-serif;
    color: #fff !important;
    padding: 6px 8px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    box-shadow: none;
    margin-bottom: 5px;
}

#denuncias_extracciones_ilegales {
    margin-bottom: 1em;
}

#total_pozos_ilegales.btactive, #total_extracciones_ilegales.btactive {
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.70);
}

#graficos_pozos {
    margin-bottom: 1em;
}

#tituloTotales {
    font-size: 23px !important;
    font-weight: 500 !important;
    font-family: "Rubik", sans-serif !important;
}

.topTitlePiece {
    font-size: 28px !important;
    font-weight: 500 !important;
    font-family: "Rubik", sans-serif !important;
}
