<h3 id="tituloGraficoAndalucia">{{ site.data[page.lang_file].media-1.num_sanctions }}</h3>
<div id="mapaAndalucia" style="width: 100%; height: 400px;"></div>
<div id="notaSobreEscala"><small>Nota: para que todos los puntos sean visibles y para que sea más fácil la consulta se ha añadido un valor base a cada punto.</small></div>
<p>
<button id="numSanciones">{{ site.data[page.lang_file].media-1.num_sanctions }}</button>
<button id="valorDanos">{{ site.data[page.lang_file].media-1.damage_value }}</button>
</p>
<script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" />
