/* BEGIN STYLES */

#mapaAndalucia h4 {
    font-size: 15px !important;
    padding-left: 0;
}

#mapaAndalucia p {
    padding-left: 0;
}

#notaSobreEscala {
    margin-bottom: 1em;
}

#notaSobreEscala small {
    font-size: 11px;
}
/* END STYLES */
