{% comment %}
* THIS FILE (all.html) GATHERS ALL THE HTML, CSS, JAVASCRIPT AND SVG IN THE FILES INCLUDED BELLOW.
{% endcomment %}


<p>&nbsp;</p>
<hr />
<p>&nbsp;</p>



<h2>{{ site.data[page.lang_file].titles.media-1 }}</h2>

<!-- ************************* BEGIN GUADALQUIVIR ************************* -->

<style>
{% include media-1/styles.css %}
</style>
<script>
var guadalquivir_sanciones = {% include media-1/guadalquivir-numsanciones.json %};
</script>
<script>
var guadalquivir_danos = {% include media-1/guadalquivir-danos.json %};
</script>
{% include media-1/structured_content.html %}
<script>
{% include media-1/scripts.js %}
</script>

<!-- ************************* END GUADALQUIVIR ************************* -->

<p><a href="https://jsfiddle.net/greenpeace/75abmhry/" target="_blank">{{ site.data[page.lang_file].share_link }}</a></p>
<p><a href="https://docs.google.com/spreadsheets/d/1BtJ-CsDrEWpOYBR0hbH6bLUex3qmPk41QVZBgA5OQZ8/edit#gid=488100683" target="_blank">{{ site.data[page.lang_file].data_link }}</a></p>

<p>&nbsp;</p>
<hr />
<p>&nbsp;</p>



<h2>{{ site.data[page.lang_file].titles.media-2 }}</h2>

<!-- ************************* BEGIN TAGUS ************************* -->

<style>
{% include media-2/styles.css %}
</style>
<script>
var tajo_sanciones = {% include media-2/tajo-numsanciones.json %};
</script>
<script>
var tajo_danos = {% include media-2/tajo-danos.json %};
</script>
{% include media-2/structured_content.html %}
<script>
{% include media-2/scripts.js %}
</script>

<!-- ************************* END TAGUS ************************* -->

<p><a href="https://jsfiddle.net/greenpeace/1q75vk4u/" target="_blank">{{ site.data[page.lang_file].share_link }}</a></p>
<p><a href="https://docs.google.com/spreadsheets/d/1fYnu6qdiHqVe6CPBqFMVdC7_rfHV4ZOhZRzeixcULU0/edit#gid=2072308401" target="_blank">{{ site.data[page.lang_file].data_link }}</a></p>

<p>&nbsp;</p>
<hr />
<p>&nbsp;</p>



<h2>{{ site.data[page.lang_file].titles.media-3 }}</h2>

<!-- ************************* BEGIN JÚCAR ************************* -->

<style>
{% include media-3/styles.css %}
</style>
<script>
var jucar_sanciones = {% include media-3/jucar-numsanciones.json %};
</script>
<script>
var jucar_danos = {% include media-3/jucar-danos.json %};
</script>
{% include media-3/structured_content.html %}
<script>
{% include media-3/scripts.js %}
</script>

<!-- ************************* END JÚCAR ************************* -->

<p><a href="https://jsfiddle.net/greenpeace/nzgba6vp/" target="_blank">{{ site.data[page.lang_file].share_link }}</a></p>
<p><a href="https://docs.google.com/spreadsheets/d/1gBuaL1r2NcysplZfCRQYRHhgLNyH7_cV8dRBNFp56b4/edit#gid=1460614300" target="_blank">{{ site.data[page.lang_file].data_link }}</a></p>

<p>&nbsp;</p>
<hr />
<p>&nbsp;</p>



<h2>{{ site.data[page.lang_file].titles.media-4 }}</h2>

<!-- ************************* BEGIN GUADALQUIVIR 2 ************************* -->

<style>
{% include media-4/styles.css %}
</style>
<script>
var guadalquivir_sanciones2 = {% include media-4/guadalquivir-numsanciones-extraccion.json %};
</script>
<script>
var guadalquivir_danos2 = {% include media-4/guadalquivir-danos-extraccion.json %};
</script>
{% include media-4/structured_content.html %}
<script>
{% include media-4/scripts.js %}
</script>

<!-- ************************* END GUADALQUIVIR 2 ************************* -->

<p><a href="https://jsfiddle.net/greenpeace/rvk3ue4f/" target="_blank">{{ site.data[page.lang_file].share_link }}</a></p>
<p><a href="https://docs.google.com/spreadsheets/d/1BtJ-CsDrEWpOYBR0hbH6bLUex3qmPk41QVZBgA5OQZ8/edit#gid=488100683" target="_blank">{{ site.data[page.lang_file].data_link }}</a></p>

<p>&nbsp;</p>
<hr />
<p>&nbsp;</p>



<h2>{{ site.data[page.lang_file].titles.media-5 }}</h2>

<!-- ************************* BEGIN TAGUS 2 ************************* -->

<style>
{% include media-5/styles.css %}
</style>
<script>
var tajo_sanciones2 = {% include media-5/tajo-numsanciones-extraccion.json %};
</script>
<script>
var tajo_danos2 = {% include media-5/tajo-danos-extraccion.json %};
</script>
{% include media-5/structured_content.html %}
<script>
{% include media-5/scripts.js %}
</script>

<!-- ************************* END TAGUS 2 ************************* -->

<p><a href="https://jsfiddle.net/greenpeace/0ayjzvcd/" target="_blank">{{ site.data[page.lang_file].share_link }}</a></p>
<p><a href="https://docs.google.com/spreadsheets/d/1fYnu6qdiHqVe6CPBqFMVdC7_rfHV4ZOhZRzeixcULU0/edit#gid=2072308401" target="_blank">{{ site.data[page.lang_file].data_link }}</a></p>

<p>&nbsp;</p>
<hr />
<p>&nbsp;</p>


<script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" />


<h2>{{ site.data[page.lang_file].titles.media-6 }}</h2>

<!-- ************************* BEGIN CHART ************************* -->

<style>
{% include media-6/styles.css %}
</style>
{% include media-6/structured_content.html %}
<script>
{% include media-6/scripts.js %}
</script>

<!-- ************************* END CHART ************************* -->

<p><a href="https://jsfiddle.net/greenpeace/7wkhgr5m/" target="_blank">{{ site.data[page.lang_file].share_link }}</a></p>
<p><a href="https://docs.google.com/spreadsheets/d/1ZswDpyvGxI-P2q68ybSvF2hEFgX6PaYHKBAYcKrCjTs/edit#gid=38823564" target="_blank">{{ site.data[page.lang_file].data_link }}</a></p>

<p>&nbsp;</p>
<hr />
<p>&nbsp;</p>
