{% comment %}
* THIS FILE (all.html) GATHERS ALL THE HTML, CSS, JAVASCRIPT AND SVG IN THE FILES INCLUDED BELLOW.
{% endcomment %}


<p>&nbsp;</p>
<hr />
<p>&nbsp;</p>

<h2>Guadalquivir pozos</h2>

<!-- ************************* BEGIN GUADALQUIVIR ************************* -->

<style>
{% include media-1/styles.css %}
</style>
<script>
var guadalquivir_sanciones = {% include media-1/guadalquivir-numsanciones.json %};
</script>
<script>
var guadalquivir_danos = {% include media-1/guadalquivir-danos.json %};
</script>
{% include media-1/structured_content.html %}
<script>
{% include media-1/scripts.js %}
</script>

<!-- ************************* END GUADALQUIVIR ************************* -->

<p><a href="https://jsfiddle.net/greenpeace/75abmhry/">Enlace de compartir</a></p>

<p>&nbsp;</p>
<hr />
<p>&nbsp;</p>

<h2>Tajo pozos</h2>

<!-- ************************* BEGIN TAJO ************************* -->

<style>
{% include media-2/styles.css %}
</style>
<script>
var tajo_sanciones = {% include media-2/tajo-numsanciones.json %};
</script>
<script>
var tajo_danos = {% include media-2/tajo-danos.json %};
</script>
{% include media-2/structured_content.html %}
<script>
{% include media-2/scripts.js %}
</script>

<!-- ************************* END TAJO ************************* -->

<p><a href="https://jsfiddle.net/greenpeace/1q75vk4u/">Enlace de compartir</a></p>

<p>&nbsp;</p>
<hr />
<p>&nbsp;</p>

<h2>Jucar pozos</h2>

<!-- ************************* BEGIN JUCAR ************************* -->

<style>
{% include media-3/styles.css %}
</style>
<script>
var jucar_sanciones = {% include media-3/jucar-numsanciones.json %};
</script>
<script>
var jucar_danos = {% include media-3/jucar-danos.json %};
</script>
{% include media-3/structured_content.html %}
<script>
{% include media-3/scripts.js %}
</script>

<!-- ************************* END JUCAR ************************* -->

<p><a href="https://jsfiddle.net/greenpeace/nzgba6vp/">Enlace de compartir</a></p>

<p>&nbsp;</p>
<hr />
<p>&nbsp;</p>

<h2>Guadalquivir extracción</h2>

<!-- ************************* BEGIN ANDALUCIA 2 ************************* -->

<style>
{% include media-4/styles.css %}
</style>
<script>
var guadalquivir_sanciones2 = {% include media-4/guadalquivir-numsanciones-extraccion.json %};
</script>
<script>
var guadalquivir_danos2 = {% include media-4/guadalquivir-danos-extraccion.json %};
</script>
{% include media-4/structured_content.html %}
<script>
{% include media-4/scripts.js %}
</script>

<!-- ************************* END ANDALUCIA2 ************************* -->

<p><a href="https://jsfiddle.net/greenpeace/rvk3ue4f/">Enlace de compartir</a></p>

<p>&nbsp;</p>
<hr />
<p>&nbsp;</p>

<h2>Tajo extracción</h2>

<!-- ************************* BEGIN TAJO 2 ************************* -->

<style>
{% include media-5/styles.css %}
</style>
<script>
var tajo_sanciones2 = {% include media-5/tajo-numsanciones-extraccion.json %};
</script>
<script>
var tajo_danos2 = {% include media-5/tajo-danos-extraccion.json %};
</script>
{% include media-5/structured_content.html %}
<script>
{% include media-5/scripts.js %}
</script>

<!-- ************************* END TAJO 2 ************************* -->

<p><a href="https://jsfiddle.net/greenpeace/0ayjzvcd/">Enlace de compartir</a></p>

<script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" />

<p>&nbsp;</p>
<hr />
<p>&nbsp;</p>