{% comment %}
* THIS FILE (all.html) GATHERS ALL THE HTML, CSS, JAVASCRIPT AND SVG IN THE FILES INCLUDED BELLOW.
{% endcomment %}


<!-- ************************* BEGIN MEDIA 1 ************************* -->

<style>
{% include media-1/styles.css %}
</style>
<script>
var guadalquivir_sanciones = {% include media-1/guadalquivir-numsanciones.json %};
</script>
<script>
var guadalquivir_danos = {% include media-1/guadalquivir-danos.json %};
</script>
{% include media-1/structured_content.html %}
<script>
{% include media-1/scripts.js %}
</script>

<!-- ************************* END MEDIA 1 ************************* -->

<hr />

<!-- ************************* BEGIN MEDIA 2 ************************* -->

<style>
{% include media-2/styles.css %}
</style>
<script>
var tajo_sanciones = {% include media-2/tajo-numsanciones.json %};
</script>
<script>
var tajo_danos = {% include media-2/tajo-danos.json %};
</script>
{% include media-2/structured_content.html %}
<script>
{% include media-2/scripts.js %}
</script>

<!-- ************************* END MEDIA 2 ************************* -->

<hr />

<!-- ************************* BEGIN MEDIA 3 ************************* -->

<style>
{% include media-3/styles.css %}
</style>
<script>
var jucar_sanciones = {% include media-3/jucar-numsanciones.json %};
</script>
<script>
var jucar_danos = {% include media-3/jucar-danos.json %};
</script>
{% include media-3/structured_content.html %}
<script>
{% include media-3/scripts.js %}
</script>

<!-- ************************* END MEDIA 3 ************************* -->

<script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" />
